<!DOCTYPE html>
<html lang="en">
  <head>
    {# This is the base template for the site–other templates extend this one #}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Your new 11ty blog" />
  </head>
  <body>
  <main>
      <header class="footer">
        <div class="links">
          <a href="/">Home</a>
          <span class="divider">|</span>
          <a href="/posts">Posts</a>
          <span class="divider">|</span>
          <a href="/about">About</a>
        </div>
      </header>

    {# Page or post content will appear here #}

    {{ content | safe }}

      <footer class="footer">
        <div class="links">
          <a href="/">Home</a>
          <span class="divider">|</span>
          <a href="/posts">Posts</a>
          <span class="divider">|</span>
          <a href="/about">About</a>
        </div>
      </footer>
  </main>
  </body>
</html>