---
layout: layouts/base.njk
---

<div class="post-list-wrapper">
  <div class="post-list">
    {% for post in collections.posts | reverse %}
    <article>
      <header class="post-header">
        <a href="{{ post.url }}"
          ><h2 class="post-title">{{ post.data.title }}</h2></a
        >
        <div class="post-details">
          <time datetime="{{ post.data.page.date | htmlDateString }}">{{
            post.data.page.date | readableDate
          }}</time>
          <span class="pipe">|</span>
          <span class="post-tags">
            {% for tag in post.data.tags | filterTagList %} {% set tagUrl
            %}/tags/{{ tag | slugify }}/{% endset %}
            <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
            {% endfor %}
          </span>
        </div>
      </header>
    </article>
    {% endfor %}
  </div>
</div>