<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="timw.io - Tim Weston" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <title>{{ title }} - timw.io</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/tufte.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="alternate"
      type="application/atom+xml"
      href="/feed.xml"
      title="Atom 1.0"
    />
  </head>
  <body>
    <div class="layout-wrapper">
      <header class="header">
        <div class="header-content">
          <h1 class="site-title"><a href="/">Tim Weston</a></h1>
          <nav class="nav">
            <ul class="nav_list">
              <li class="nav_item"><a href="/archive">Archive</a></li>
              <li class="nav_item"><a href="/colophon">Colophon</a></li>
              <li class="nav_item"><a href="/feed.xml">RSS</a></li>
              <li class="nav_item">
                <a rel="me" href="https://worldkey.io/@tim">tim@worldkey.io</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <main class="main">
        {# Page or post content will appear here #}
        {{ content | safe }}
      </main>
    </div>
    <footer class="footer">
      <div class="footer-content">
        <nav class="nav">
          <ul class="nav_list">
            <li class="nav_item">&copy; 2023 Tim Weston</li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>
