<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="timw.io - Tim Weston" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <title>{{ title }} - timw.io</title>
    {% if canonical %}
    <link rel="canonical" href="{{ canonical }}" />
    {% endif %}
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/simple.css" />
    <link rel="stylesheet" href="/css/prism-dracula.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="alternate" type="application/atom+xml" href="/feed.xml" title="Atom 1.0" />
  </head>
  <body>
      <header>
          <nav>
            <a href="/archive">Archive</a>
            <a href="/colophon">Colophon</a>
            <a href="/feed.xml">RSS</a>
            <a rel="me" href="https://worldkey.io/@tim">Mastodon</a>
          </nav>
          <h1><a href="/">Tim Weston</a></h1>
      </header>
      <main>
        {{ content | safe }}
      </main>
    <footer>
      <p>&copy; 2023 Tim Weston</p>
    </footer>
  </body>
</html>
