---
layout: layouts/base.njk
---

<article>
  {# The post front matter includes the title property #}
  <header>
    <h2>{{ title }}</h2>
    <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    <span>&bull;</span>
    <span>
      {%- for tag in tags | filterTagList %} {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <a href="{{ tagUrl | url }}">{{ tag }}</a>
      {%- endfor %}
    </span>
  </header>

  <section>
    {{ content | safe }}
  </section>

  <footer>
    {% if collections.posts %}
    {% set nextPost = collections.posts | getNextCollectionItem(page) %}
    {% set prevPost = collections.posts | getPreviousCollectionItem(page) %}
    {% if prevPost %}
    &laquo; <a href="{{ prevPost.url | url }}">{{ prevPost.data.title }}</a>
    {% endif %}
    {% if prevPost and nextPost %}
    &bull;
    {% endif %}
    {% if nextPost %}
    <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a> &raquo;
    {% endif %}
    {% endif %}
  </footer>
</article>
