---
layout: layouts/base.njk
---

<article class="h-entry">
  <header>
    <h2 class="p-name"><a class="u-url" href="{{ page.url }}">{{ title }}</a></h2>
    <time class="dt-published" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    <span>
      {%- for tag in tags | filterTagList %} {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      &bull; <a href="{{ tagUrl | url }}">{{ tag }}</a>
      {%- endfor %}
    </span>
  </header>
  <section class="e-content">
    {{ content | safe }}
  </section>
  <footer>
    {% if collections.posts %}
    {% set nextPost = collections.posts | getNextCollectionItem(page) %}
    {% set prevPost = collections.posts | getPreviousCollectionItem(page) %}
    {% if prevPost %}
    &laquo; <a href="{{ prevPost.url | url }}">{{ prevPost.data.title }}</a>
    {% endif %}
    {% if prevPost and nextPost %}
    &bull;
    {% endif %}
    {% if nextPost %}
    <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a> &raquo;
    {% endif %}
    {% endif %}
  </footer>
</article>
