/* custom overrides to styles in tufte.css */

/* remove excessive margin above and below h1 */
h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* remove excessive margin above and below h2 */
h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* remove excessive padding above and below article */
article {
  padding: 0.5rem 0rem;
}

/* remove excessive padding above and below section */
section {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

div.epigraph {
  margin: 0;
}

div.epigraph > blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}
