/* Begin - Overrides to simple.css */
body > footer {
  margin-top: 2rem;
  padding: 1rem 1rem 1.5rem 1rem;
}

section {
  padding: 1rem;
  margin: 2rem 0;
}

a:any-link {
  text-decoration: none;
}
/* End - Overrides to simple.css */

header > nav > a > svg {
  vertical-align: middle;
}
