---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: base.njk
permalink: /tags/{{ tag | slugify }}/
eleventyComputed:
  title: '{{ tag | title }}'
  description: 'All posts tagged “{{ tag }}”'
---

<h2>Posts Tagged "{{ tag | title }}"</h2>

{% set postslist = collections[tag] %}
{% include "postslist.njk" %}